* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.container {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 80px repeat(2, 3fr) 2.5fr 2fr 80px; */
}

img{
  width: 100%;
}
.items {
  /* background-color: beige;
  border: 1px solid black; */
  /* padding: 0 50px; */
}

.header,
.hero-section,
.footer {
  background-color: #1f2937;
}

/* header */
.header,.hero{
  background-color: #1f2937;
  
}
.header div{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px;
}

.header h3 {
  font-size: 24px;
  color: #f9faf8;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* hero section */

.hero-section {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 80%;
  margin: 0 auto;
  column-gap: 80px;
  margin-top: 48px;
  margin-bottom: 48px;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  /* margin-top: 100px; */
  letter-spacing: 2.5px;
}

.hero-info {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  opacity: 70%;
  margin-top: 20px;
  color: #f9faf8;
}

.hero-btn:link,
.hero-btn:visited{
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;
  margin-top: 20px;
  /* border: none; */
  padding: 16px 32px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  /* border-radius: 100px; */
  display: inline-block;
  font-weight: 600;
}

.hero-btn:hover,
.hero-btn:active {
background-color: #1c7ed6;
  
}

.btn-border {
  border: 2px solid #fff;
}


/* information */

.info{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 50px;
}

.information {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information h3 {
  color: #1f2937;
  font-weight: 700;
  font-size: 30px;
}
.card-container {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin:48px;
}

.span-class {
  width: 150px;
  height: 150px;
}

.cards {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  display: block;
}

/* quotation */
.quotation{
  background-color: #e5e7eb;
  
}

.quotation div {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  font-weight: 500;
  opacity: 70%;
}

/* .quotation p {
  line-height: 1.5;
  font-weight: 500;
  padding: 0 200px;
  color: #1f2937;
} */

.quotation blockquote {
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: #1f2937;
  margin-top: 50px;
  margin-bottom: 20px;
}

.author {
  align-self: flex-end;
  font-size: 24px;
}

/* call to action */


.cta-container {
  width: 80%;
  margin: 50px auto;
  display: grid;
  align-items: center;
}

.call-to-action {
  background-color: #3882f6;
  display: flex;
  /* margin: 50px; */
  border-radius: 10px;
  padding: 60px 100px;
  color: #e5e7eb;
  justify-content: space-between;
  align-items: center;
}

.call-to-action h3 {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.5;
}

/* footer */

.footer {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px;
}
